.App {
  text-align: left;
  margin-left: 10px;
}

.main-content {
  margin: 4rem 2.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
