body {
    background-color: bisque;
    font-family: Helvetica, Neue, Arial;
    border-style: outset;
}

h1, h2, h3, h4, h5, h6 {
	color: rgba(40, 120, 70, 0.75);
	font-size: 40px;
}

table, td {
    border-collapse: collapse;
    border: 6px solid blueviolet;
}

a:link, a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}

ul {
    list-style-type: square;
}

img {
    border-style: solid;
}

.italic {
   font-style: italic;
}

.bold {
    font-weight: bold
}